function-manager-components/org.wso2.carbon.function.mgt.stub/src/main/resources/FunctionManager.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://mgt.function.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax290="http://data.mgt.function.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://mgt.function.carbon.wso2.org">
    <wsdl:documentation>FunctionManager</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://data.mgt.function.carbon.wso2.org/xsd">
            <xs:complexType name="Function">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ID" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax291="http://data.mgt.function.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.function.carbon.wso2.org">
            <xs:import namespace="http://data.mgt.function.carbon.wso2.org/xsd"/>
            <xs:element name="getFunctions">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFunctionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax290:Function"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getFunctionsRequest">
        <wsdl:part name="parameters" element="ns:getFunctions"/>
    </wsdl:message>
    <wsdl:message name="getFunctionsResponse">
        <wsdl:part name="parameters" element="ns:getFunctionsResponse"/>
    </wsdl:message>
    <wsdl:portType name="FunctionManagerPortType">
        <wsdl:operation name="getFunctions">
            <wsdl:input message="ns:getFunctionsRequest" wsaw:Action="urn:getFunctions"/>
            <wsdl:output message="ns:getFunctionsResponse" wsaw:Action="urn:getFunctionsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FunctionManagerSoap11Binding" type="ns:FunctionManagerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getFunctions">
            <soap:operation soapAction="urn:getFunctions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="FunctionManagerSoap12Binding" type="ns:FunctionManagerPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getFunctions">
            <soap12:operation soapAction="urn:getFunctions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="FunctionManagerHttpBinding" type="ns:FunctionManagerPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getFunctions">
            <http:operation location="getFunctions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FunctionManager">
        <wsdl:port name="FunctionManagerHttpsSoap11Endpoint" binding="ns:FunctionManagerSoap11Binding">
            <soap:address location="https://172.17.0.1:9443/services/FunctionManager.FunctionManagerHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="FunctionManagerHttpsSoap12Endpoint" binding="ns:FunctionManagerSoap12Binding">
            <soap12:address location="https://172.17.0.1:9443/services/FunctionManager.FunctionManagerHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="FunctionManagerHttpsEndpoint" binding="ns:FunctionManagerHttpBinding">
            <http:address location="https://172.17.0.1:9443/services/FunctionManager.FunctionManagerHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>